{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Profile Under Review</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<body>
    <h2>Your profile is under review</h2>
    <p>Thank you for registering as a store owner. Our admin team is reviewing your profile. You will be notified once your account is approved.</p>
</body>


{% endblock %}
