{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{ store.store_name }}'s Profile</h1>
        </div>
    </div>
</header>

<body>
    <h3>Products</h3>
    <div class="product-list">
      {% for product in products %}
        <div class="product-item">
          <h4>{{ product.name }}</h4>
          <p>{{ product.description }}</p>
          <p>Price: ${{ product.price }}</p>
          {% if product.is_sale %}
            <p>Sale Price: ${{ product.sale_price }}</p>
          {% endif %}
        </div>
      {% empty %}
        <p>No products available.</p>
      {% endfor %}
    </div>
</body>


{% endblock %}